## Exercise

1. Create 5 list comprehensions to solve the following 5 problems:
  1. Iterate a list of names to return a list of the names starting with H
  2. In one line create a list of the numbers 1-100 to the power of 3
  3. Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name
  4. Iterate over each character in a string and get only those that are nummeric
  5. Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice

2. Create 2 dictionary comprehensions to solve the following:
  1. Iterate a list of names and create a dictionary where key is the name and value is the length of the name
  2. Iterate a list of numbers and create a dictionary with (key, value) being (number, squareroot of number)

3. Progammatically using loops create a small program to produce a dictionary with all the 2 dice throw combinations as keys and their likelyhood in percent as values

In [4]:
my_list = ['Hans', 'Ole', 'Børge', 'Jens', 'Mogens'];
letter = 'H';
res = [idx for idx in my_list if idx[0].lower() == letter.lower()];
print(str(res));

['Hans']

In [25]:
numbers = [i ** 3 for i in range(1, 101)]
print(numbers)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [60]:
my_list = ['Hans', 'Ole', 'Børge', 'Jens', 'Mogens'];
res = [];
for l in my_list:
    res.append((len(my_list[0]), l));
    
print(res);

[(4, 'Hans'), (4, 'Ole'), (4, 'B\xc3\xb8rge'), (4, 'Jens'), (4, 'Mogens')]

In [74]:
str = "h3110 23 cat 444.4 rabbit 11 2 dog"
for i in str:
    if i.isdigit():
        print i;

3
1
1
0
2
3
4
4
4
4
1
1
2

In [80]:
dices = set((x,y) for x in range(1,6) for y in range(1,6))
print(dices);

set([(1, 3), (5, 4), (2, 1), (5, 1), (2, 5), (1, 2), (3, 3), (4, 4), (1, 5), (2, 2), (5, 3), (4, 1), (1, 1), (3, 2), (4, 5), (5, 5), (1, 4), (2, 3), (4, 2), (3, 5), (3, 4), (3, 1), (4, 3), (5, 2), (2, 4)])

In [108]:
import math
my_list = ['Hans', 'Ole', 'Børge', 'Jens', 'Mogens'];
res = [];
for name in my_list:
    res.append((name, len(name)));
print(res);

my_numbers = [(9,math.sqrt(9)), (121, math.sqrt(121)), (256, math.sqrt(256))]
print(my_numbers);

[('Hans', 4), ('Ole', 3), ('B\xc3\xb8rge', 6), ('Jens', 4), ('Mogens', 6)]
[(9, 3.0), (121, 11.0), (256, 16.0)]

In [18]:
dices = set((x,y) for x in range(1,6) for y in range(1,6))
res = [];
for dice in dices:
    res.append((dice, (float(dice[1])/6)*(float(dice[1])/6)*100));
print(res);

[((1, 3), 25.0), ((5, 4), 44.44444444444444), ((2, 1), 2.7777777777777777), ((5, 1), 2.7777777777777777), ((2, 5), 69.44444444444446), ((1, 2), 11.11111111111111), ((3, 3), 25.0), ((4, 4), 44.44444444444444), ((1, 5), 69.44444444444446), ((2, 2), 11.11111111111111), ((5, 3), 25.0), ((4, 1), 2.7777777777777777), ((1, 1), 2.7777777777777777), ((3, 2), 11.11111111111111), ((4, 5), 69.44444444444446), ((5, 5), 69.44444444444446), ((1, 4), 44.44444444444444), ((2, 3), 25.0), ((4, 2), 11.11111111111111), ((3, 5), 69.44444444444446), ((3, 4), 44.44444444444444), ((3, 1), 2.7777777777777777), ((4, 3), 25.0), ((5, 2), 11.11111111111111), ((2, 4), 44.44444444444444)]